
{% extends "layouts.html" %}
{% block title %}
    admin dashboard
{% endblock%}

{% block content %}
    {% if ERROR %}
    <h1>{{ERROR}}</h1>
    {% endif %}
    <section class="dashboard-section">

        <header class="dashboard-header">
            <div class="logo">
                <h1>&copy;ZeNNiTh</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-nav-ul">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <aside class="dashboard-aside">
            <nav class="aside-nav">
                <ul class="aside-nav-ul" id="aside-nav-ul">
                    <li><span>🍱</span><span><a href="#">Dashboard</a></span></li>
                
                    <li><span>👨‍🏫</span><span><a href="#">Students</a></span></li>
                    <li><span>👩‍🎓</span><span><a href="#">Tutors</a></span></li>
                    <li><span>📖</span><span><a href="#">Courses</a></span></li>
                    <li><span>📖</span><span><a href="#">Results</a></span></li>
                    <li id="add-new-std"><span>📖</span><span>Add Student</span></li>
                    <li id="add-new-tut"><span>📖</span><span>Add Tutor</span></li>
                    <li id="add-new-course"><span>📖</span><span>Add Course</span></li>
                </ul>
            </nav>
            <nav class="aside-nav">
                <ul class="aside-nav-ul">
                    <li><span>🔑</span><span><a href="#">Logout</a></span></li>
                </ul>
            </nav>
        </aside>
        <main class="dashboard-main">
            <article>
                <div class="school-datas-wrapper">
                    <div class="total-students">
                        <h3>We have <span>{{students}}</span> Students</h3>
                        <!-- <svg>
                            <cirle></cirle>
                        </svg> -->
                    </div>
                    <div class="total-tutors">
                        <h3>We have <span>{{teachers}}</span> senior Teachers</h3>
                    </div>
                    <div class="total-courses-offered">
                        <h3>We offer <span>20</span> courses </h3>
                        <input type="date" name="" id="">
                    </div>

                </div>
                <div class="form-wrapper" id="form-for-student">
                    <form action="/admin/create_student" method="POST">
                        <fieldset>
                            <legend>REGISTER NEW STUDENT 👨‍👦‍👦📖</legend>

                            {% if ERROR %}
                            <p style="color: red;">{{ERROR}}</p>
                            {% endif %}

                            <div class="main-inputs-container">

                                <div class="top-form-wrapp">
                                    <label for="fullname"></label>
                                    <input type="text" name="fullname" id="fullname" placeholder="Enter Fullname" required>
    
                                    <label for="DOB"></label>
                                    <input type="text" name="dateofbirth" id="DOB" placeholder="DD/MM/YYYY" required>
                                </div>
                                
                                <div class="bottom-form-wrapp">
                                    <label for="age"></label>
                                    <input type="number" name="age" id="age" placeholder="Enter Students Age" required>
    
                                    <label for="stdCourse"></label>
                                    <input type="text" name="stdCourse" id="stdCourse" placeholder="Enter Students course" required>
                                </div>
                                <button type="submit">Submit</button>

                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="form-wrapper" id="form-for-tutor">
                    <form action="/admin/create_tutor" method="POST">
                        <fieldset>
                            <legend>REGISTER NEW TUTOR 👨‍👦‍👦📖</legend>

                            {% if ERROR %}
                            <p style="color: red;">{{ERROR}}</p>
                            {% endif %}

                            <div class="main-inputs-container">

                                <div class="top-form-wrapp">
                                    <label for="fullname"></label>
                                    <input type="text" name="fullname" id="fullname" placeholder="Enter Fullname" required>
    
                                    <label for="DOB"></label>
                                    <input type="text" name="dateofbirth" id="DOB" placeholder="DD/MM/YYYY" required>
                                </div>
                                
                                <div class="bottom-form-wrapp">
                                    <label for="course"></label>
                                    <input type="text" name="course" id="course" placeholder="Enter Assigned Course" required>
    
                                    <label for="class"></label>
                                    <input type="text" name="classDay" id="class" placeholder="Enter Assigned Class Day" required>
                                </div>
                                <button type="submit">Submit</button>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </article>
        </main>
        <footer class="dashboard-footer">
            <p>All Rights reserve by &gt;&gt;&copy; ZennithAcademy &lt;&lt;</p>
        </footer>

    </section>

{% endblock %}






