
{% extends "layouts.html" %}
{% block title %}
    admin dashboard
{% endblock%}

{% block content %}
    {% if ERROR %}
    <h1>{{ERROR}}</h1>
    {% endif %}
    <section class="dashboard-section">

        <header class="dashboard-header">
            <div class="logo">
                <h1>&copy;ZeNNiTh</h1>
            </div>
            <nav class="header-nav">
                <ul class="header-nav-ul">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <aside class="dashboard-aside">
            <nav class="aside-nav">
                <ul class="aside-nav-ul">
                    <li><a href="#">Tutors</a></li>
                    <li><a href="#">Students</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Results</a></li>
                </ul>
            </nav>
        </aside>
        <main class="dashboard-main">
            <article>
                <div class="school-datas-wrapper">
                    <div class="total-students">
                        <h3>students <span>{{students}}</span></h3>
                    </div>
                    <div class="total-tutors">
                        <h3>Tutors <span>90</span></h3>
                    </div>
                    <div class="total-courses-offered">
                        <h3>courses <span>48</span></h3>
                    </div>

                </div>
                <div class="form-wrapper">
                    <form action="/admin/create_student" method="POST">
                        <fieldset>
                            <legend>REGISTER NEW STUDENT 👨‍👦‍👦📖</legend>

                            {% if ERROR %}
                            <p style="color: red;">{{ERROR}}</p>
                            {% endif %}

                            <div class="main-inputs-container">

                                <div class="top-form-wrapp">
                                    <label for="fullname"></label>
                                    <input type="text" name="fullname" id="fullname" placeholder="Enter Fullname" required>
    
                                    <label for="DOB"></label>
                                    <input type="text" name="dateofbirth" id="DOB" placeholder="DD/MM/YYYY" required>
                                </div>
                                
                                <div class="bottom-form-wrapp">
                                    <label for="age"></label>
                                    <input type="number" name="age" id="age" placeholder="Enter Students Age" required>
    
                                    <label for="courses"></label>
                                    <input type="number" name="courses" id="courses" placeholder="Enter Students courses" required>
                                </div>
                                <button type="submit">Submit</button>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </article>
        </main>
        <footer class="dashboard-footer">
            <p>All Rights reserve by &gt;&gt;&copy; ZennithAcademy &lt;&lt;</p>
        </footer>

    </section>

{% endblock %}






