:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-heading-color: ;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
  }









*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: var(--bs-body-color);
    color: white;
    font-family: var(--bs-body-font-family);
}
a{
    text-decoration: none;
    color: var(--bs-body-bg);
}
li{
    list-style: none;
}


#content{
    width: 100%;
    height: 100%;
}

.dashboard-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1f);
   
    grid-template-areas: "header header header header header header header header header header header header"
                         "aside aside main main main main main main main main main main"
                         "aside aside main main main main main main main main main main"
                         "aside aside main main main main main main main main main main"
                         "aside aside main main main main main main main main main main"
                         "footer footer footer footer footer footer footer footer footer footer footer footer";
}

.dashboard-header{
    height: 60px;
    padding: auto 20px;
    grid-area: header;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-gray-900);
    box-shadow: 2px 3px 4px var(--bs-code-color);
}
.dashboard-header .logo{
    padding-left: 20px;
}
.dashboard-header .logo>h1{
    color: var(--bs-code-color);
}

.dashboard-header>.header-nav{
    margin-right: 30px;
    /* height: 70px; */
}

.dashboard-header>.header-nav .header-nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-header>.header-nav .header-nav-ul li{
    margin-right: 23px;
}

.dashboard-header>.header-nav .header-nav-ul li a{
    transition: 1.2s ease;
}
.dashboard-header>.header-nav .header-nav-ul li a:hover{
    color: var(--bs-code-color);
    text-decoration: underline;
}
.dashboard-aside{
    grid-area: aside;
    border: 2px solid transparent;
    height: 100vh;
    background-color: var(--bs-indigo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dashboard-aside>.aside-nav{
    margin-top: 30px;
}

.dashboard-aside>.aside-nav .aside-nav-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-aside>.aside-nav .aside-nav-ul li{
    margin-bottom: 10px;
    /* padding-top: 14px; */
    width: 210px;
    height: 50px;
    border: 1px solid transparent;
    transition: 1.2s ease;
    /* text-align: center; */
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dashboard-aside>.aside-nav .aside-nav-ul li span{
    width: 30%;
}


.dashboard-aside>.aside-nav .aside-nav-ul li:hover{
    border-radius: 13px;
    background-color: var(--bs-info);
}

.dashboard-main{
    grid-area: main;
    border: 2px solid transparent;
    height: 100vh;
}

.dashboard-main .main-heading{
    text-align: center;
    font-size: var(--bs-body-font-size);
    color: var(--bs-cyan);
}
.dashboard-main>article .school-datas-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dashboard-main>article .school-datas-wrapper :is(.total-students, .total-tutors, .total-courses-offered){
    width: 350px;
    aspect-ratio: 4/3;
    background-color: var(--bs-gray-800);
    padding: 40px;
    border-radius: 12px;
    transition: 1.4s ease;
    cursor: pointer;
}

.dashboard-main>article .school-datas-wrapper :is(.total-students, .total-tutors, .total-courses-offered) span{
    color: var(--bs-code-color);
}

.dashboard-main>article .school-datas-wrapper :is(.total-students, .total-tutors, .total-courses-offered):hover{
    transform: translateY(10px);
}


/* .dashboard-main>article  */
.form-wrapper{
    margin-top: 30px;
    display: none;
}

.showForms{
    display: block;
}

.dashboard-main>article .form-wrapper>form>fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-main>article .form-wrapper>form>fieldset>.main-inputs-container{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.dashboard-main>article .form-wrapper>form>fieldset>.main-inputs-container :is(.top-form-wrapp, .bottom-form-wrapp){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.top-form-wrapp input[type=text]{
    width: 450px;
    height: 50px;
}
.top-form-wrapp input[type=text]::placeholder{
    font-size: larger;
    padding: 0 12px;
}
.bottom-form-wrapp :is(input[type=number], input[type=text]){
    width: 450px;
    height: 50px;
}
.bottom-form-wrapp :is(input[type=number], input[type=text])::placeholder{
    font-size: larger;
    padding: 0 12px;
}
.dashboard-main>article .form-wrapper>form>fieldset>.main-inputs-container button{
    width: 240px;
    height: 50px;
    margin: 12px auto;
    border-radius: 11px;
    color: var(--bs-body-bg);
    background-color: var(--bs-success);
    transition: 1s ease;
    cursor: pointer;
}

.dashboard-main>article .form-wrapper>form>fieldset>.main-inputs-container button:hover{
    opacity: 0.7;
}
.dashboard-footer{
    grid-area: footer;
    height: 40px;
    border: 2px solid transparent;
    background-color: var(--bs-gray-900);
}
.dashboard-footer p{
   text-align: center;
}
